/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
# 签名文件（私钥，绝对不能提交）
/signing/
*.p12
*.p7b
*.cer
*.csr
# 打包输出
/release/